<div id="content">
    <sa-widgets-grid>
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-ms-12 col-md-12 colg-lg-12">
                <div sa-widget [editbutton]="false" [deletebutton]="false" [fullscreenbutton]="true" color="white">

                    <header>
                        <span class="widget-icon">
                            <i class="fa fa-table"></i>
                        </span>

                        <h2>Registro de las Categorias</h2>
                    </header>
                    <div class="row" class="cold-md 1" align="right">
                        <div align="right" class="widget-body no-padding col-sm-12 col-ms-12 col-md-12 colg-lg-12">
                            <div>
                                <br>





                                <div [hidden]="submitted">
                                    <legend align="center" style="font-family: 'Times New Roman';color:rgb(0, 92, 128)">
                                        <b> REGISTROS DE LAS CATEGORIA </b>
                                    </legend>
                                    <form (ngSubmit)="onSubmit()" #categoriaForm="ngForm">

                                        <div align="left">

                                            <br>
                                            <label for="categoriaNombre"
                                                style="color: rgb(126, 123, 123); font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
                                                <FONT SIZE=3>*Nombre de la Categoria</FONT>
                                            </label>
                                            <input placeholder="Nombre de la Categoria" required id="categoriaNombre"
                                                pattern="([A-ZÑÁÉÍÓÚÜ]{2,})|([A-ZÑÁÉÍÓÚÜ]{2,} [A-ZÑÁÉÍÓÚÜ]{2,})"
                                                onKeyUp="document.getElementById(this.id).value=document.getElementById(this.id).value.toUpperCase()"
                                                align="center" class="form-control" type="text" value="Nombre Categoria"
                                                name="categoriaNombre" [(ngModel)]="fdiCategoria.categoriaNombre"
                                                #categoriaNombre="ngModel">
                                            <div [hidden]="categoriaNombre.valid || categoriaNombre.pristine"
                                                class="alert alert-danger">
                                                El Nombre de la Categoría es Necesario, No permite Dígitos.
                                            </div>
                                            <br>
                                            <label for="categoriaDescripcion"
                                                style="color: rgb(126, 123, 123); font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
                                                <FONT SIZE=3>*Descripción de la Categoria</FONT>
                                            </label>
                                            <textarea type="text"
                                                placeholder="Escriba una descripción de la Categoria aquí!!!!!!"
                                                required id="categoriaDescripcion"
                                                pattern="([A-ZñÑáéíóúÁÉÍÓÚüÜ])|([A-ZñÑáéíóúÁÉÍÓÚüÜ]{2,} [A-ZñÑáéíóúÁÉÍÓÚüÜ]{2,})"
                                                onKeyUp="document.getElementById(this.id).value=document.getElementById(this.id).value.toUpperCase()"
                                                class="form-control" name="categoriaDescripcion" rows="10" cols="40"
                                                [(ngModel)]="fdiCategoria.categoriaDescripcion"
                                                #categoriaDescripcion="ngModel">Describa la Categoria</textarea>
                                            <div [hidden]="categoriaDescripcion.valid || categoriaDescripcion.pristine"
                                                class="alert alert-danger">
                                                La Descripción de la Categoría es Necesario, No permite Dígitos.
                                            </div>

                                            <br>
                                            <div class="modal-footer">

                                            <button type="submit" class="btn btn-labeled btn-primary"
                                                onclick="return confirm('Esta seguro realizar los cambios?')"
                                                [disabled]="!categoriaForm.form.valid" (click)="guardar()">
                                                <span class="btn-label">
                                                    <i class="fa fa-floppy-o"></i>
                                                </span>
                                                Guardar</button>
                                            <button (click)="cancelar()" class="btn btn-labeled btn-danger"
                                                type="reset"><span class="btn-label"><i
                                                        class="glyphicon glyphicon-remove"></i>
                                                </span>Cancelar</button>
                                            <button (click)="atras(disciplina)" class="btn btn-labeled btn-warning"
                                                placement="top" toolyip="Regresar">
                                                <span class="btn-label">
                                                    <i class="fa fa-reply"></i>
                                                </span>
                                                Volver</button>

                                            </div>



                                        </div>
                                    </form>

                                    <br>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>



            </article>

        </div>




    </sa-widgets-grid>
</div>