<div id="content">
    <sa-widgets-grid>

        <div class="row">
            <article class="col-xs-12 col-sm-12 col-ms-12 col-md-12 colg-lg-12">
                <div sa-widget [editbutton]="false" [deletebutton]="false" [fullscreenbutton]="true" color="white">

                    <header>
                        <span class="widget-icon">
                            <i class="fa fa-table"></i>
                        </span>

                        <h2>Registro de las Categorias con su respectiva Disciplina Deportiva</h2>
                    </header>
                    <div class="row" class="cold-md 1" align="right">
                        <div align="right" class="widget-body no-padding col-sm-12 col-ms-12 col-md-12 colg-lg-12">
                            <br>





                            <div [hidden]="submitted">
                                <legend align="center" style="font-family: 'Times New Roman';color:rgb(0, 92, 128)">
                                    <b> DATOS DE LAS CATEGORIAS CON SU RESPECTIVA DISCIPLINA</b>
                                </legend>
                                <form (ngSubmit)="onSubmit()" #categoriadisciplinaForm="ngForm">
                                    <div align="left">

                                        <br>
                                        <label for="disciplinaNombre"
                                            style="color: rgb(126, 123, 123); font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
                                            <FONT SIZE=3>*Seleccione la Disciplina Deportiva</FONT>
                                        </label>
                                        <select type="text" id="disciplinaId" required class="form-control"
                                            [(ngModel)]="fdiCategoriaDisciplina.fdiDisciplina.disciplinaId"
                                            name="disciplinaId" [compareWith]="compare" #disciplinaId="ngModel">
                                            <option disabled value="0" selected="selected">Seleccione....</option>
                                            <option *ngFor="let fdiDisciplina of fdiDisciplinas;"
                                                [ngValue]="fdiDisciplina.disciplinaId">
                                                {{fdiDisciplina.disciplinaNombre}}</option>
                                        </select>
                                        <div [hidden]="disciplinaId.valid || disciplinaId.pristine"
                                            class="alert alert-danger">
                                            Seleccione una Disciplina
                                        </div>



                                        <!--<p class="note"><strong >Note: Recuerde {{categoriadisciplina.fdiDisciplina.disciplinaNombre}}</strong></p>-->

                                        <br>
                                        <label for="categoriaNombre"
                                            style="color: rgb(126, 123, 123); font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
                                            <FONT SIZE=3>*Seleccione la Categoria</FONT>
                                        </label>
                                        <br>
                                        <select type="text" id="categoriaId" required=true class="form-control"
                                            [(ngModel)]="fdiCategoriaDisciplina.fdiCategoria.categoriaId"
                                            name="categoriaId" [compareWith]="compare" #categoriaId="ngModel">
                                            <option disabled value="0" selected="selected">Seleccione....</option>
                                            <option *ngFor="let fdiCategoria of fdiCategorias;"
                                                [ngValue]="fdiCategoria.categoriaId">{{fdiCategoria.categoriaNombre}}
                                            </option>
                                        </select>
                                        <div [hidden]="categoriaId.valid || categoriaId.pristine"
                                            class="alert alert-danger">
                                            Seleccione una Categoria
                                        </div>


                                        <br>




                                        <br>

                                        <div class="modal-footer">

                                        <button type="submit" class="btn btn-labeled btn-primary"
                                            [disabled]="!categoriadisciplinaForm.form.valid" (click)="guardar()">
                                            <span class="btn-label">
                                                <i class="fa fa-floppy-o"></i>
                                            </span>
                                            Guardar</button>
                                        <button (click)="cancelar()" class="btn btn-labeled btn-danger" type="reset">
                                            <span class="btn-label">
                                                <i class="glyphicon glyphicon-remove"></i>
                                            </span>Cancelar</button>
                                        <button (click)="atras(categoriadisciplina)" class="btn btn-labeled btn-warning"
                                            placement="top" toolyip="Regresar">
                                            <span class="btn-label">
                                                <i class="fa fa-reply"></i>
                                            </span>
                                            Volver</button>
                                        </div>

                                    </div>
                                </form>

                                <br>

                            </div>
                        </div>
                    </div>
                </div>



            </article>

        </div>
    </sa-widgets-grid>
</div>