
<div id="content">
        <sa-widgets-grid>
    
            <div class="row">
                <article class="col-xs-12 col-sm-12 col-ms-12 col-md-12 colg-lg-12">
                    <div sa-widget [editbutton]="false" [deletebutton]="false" [fullscreenbutton]="true" color="white">
    
                        <header>
                            <span class="widget-icon">
                                <i class="fa fa-table"></i>
                            </span>
    
                            <h2>Reporte del Entrenador con su respectivo Deportista</h2>
                        </header>
                        <div class="row" class="cold-md 1" align="right">
                            <div align="right" class="widget-body no-padding col-sm-12 col-ms-12 col-md-12 colg-lg-12">
                                <br>
                                <div>
                                    <button (click)="atras(fdiEntrenadorCatDisciplica)" class="btn btn-labeled btn-warning"
                                        placement="top" toolyip="Regresar">
                                        <span class="btn-label">
                                            <i class="fa fa-reply"></i>
                                        </span>
                                        Volver</button>
                                </div>
    
                                <legend align="center" style="font-family: 'Times New Roman';color:rgb(0, 92, 128)">
                                    <b> REPORTE DEL ENTRENADOR CON SU RESPECTIVO DEPORTISTA</b>
                                </legend>
    
                                <div align="left">
                                        <legend align="center" style="font-family: 'Times New Roman';color:rgb(0, 92, 128)">
                                                <b> DATOS DEL ENTRENADOR</b>
                                            </legend>
                                    <br>
    
    
                                    <label for="prsCedula"
                                        style="color: rgb(126, 123, 123) ; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
                                        <FONT SIZE=3>* Cedula: </FONT>
                                    </label>
                                    <br>
    
                                    <input class="form-control" type="text" id="prsCedula" max="15" required=true
                                        [(ngModel)]="edDeportistaEntrenador.fdiEntrenador.fdiPersona.prsCedula"
                                        name="prsCedula" #prsCedula="ngModel" disabled>
                                    <div [hidden]="prsCedula.valid || prsCedula.pristine" class="alert alert-danger">
                                        Es Necesario el Número de Cédula
                                    </div>
    
                                    <!--<p class="note"><strong >Note: Recuerde {{categoriadisciplina.fdiDisciplina.disciplinaNombre}}</strong></p>-->
                                    <br>
                                    <label for="prsNombre"
                                        style="color: rgb(126, 123, 123) ; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
                                        <FONT SIZE=3>* Nombres del Entrenador: </FONT>
                                    </label>
                                    <br>
                                    <input class="form-control" type="text" id="prsNombre" required=true
                                        [(ngModel)]="edDeportistaEntrenador.fdiEntrenador.fdiPersona.prsNombre"
                                        name="prsNombre" #prsNombre="ngModel" disabled>
                                    <div [hidden]="prsNombre.valid || prsNombre.pristine" class="alert alert-danger">
                                        Los Nombres del Entrenador son Necesarios
                                    </div>
    
                                    <!--<p class="note"><strong >Note: Recuerde {{categoriadisciplina.fdiDisciplina.disciplinaNombre}}</strong></p>-->
                                    <br>
    
                                    <label for="prsApellido"
                                        style="color: rgb(126, 123, 123) ; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
                                        <FONT SIZE=3>* Apellidos del Entrenador: </FONT>
                                    </label>
                                    <br>
                                    <input class="form-control" type="text" id="prsApellido" required=true
                                        [(ngModel)]="edDeportistaEntrenador.fdiEntrenador.fdiPersona.prsApellido"
                                        name="prsApellido" #prsApellido="ngModel" disabled>
                                    <div [hidden]="prsApellido.valid || prsApellido.pristine" class="alert alert-danger">
                                        Los Apellidos del Entrenador son Necesarios
                                    </div>
    
    
    
    
                                
                                <br>
                                <label for="adjunto"
                                    style="color: rgb(126, 123, 123); font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
                                    <FONT SIZE=3>* Foto y Cédula del Entrenador</FONT>
                                </label>
                                <br>
                                <div align="center">
                                    <label class="custom-file-upload">
                                        <img id="entreFoto"
                                            [src]="getUrlDoc2(edDeportistaEntrenador.fdiEntrenador.entreFoto)"
                                            alt="Smiley face" height="150" width="150">
                                        <br>
    
                                        <br>
    
                                        <a [href]="getUrlDoc2(edDeportistaEntrenador.fdiEntrenador.entreFoto)" target="_blank"
                                            class="btn btn-primary btn-sm">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </label>
    
    
                                </div>
                                <br>
                                <label for="fechanac"
                                    style="color: rgb(126, 123, 123); font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
                                    <FONT SIZE=3>*Fecha de Nacimiento</FONT>
                                </label>
                                <input type="date" class="form-control" name="prsFechaNaciemineto" id="prsFechaNaciemineto"
                                    placeholder="Fecha de Nacimiento"
                                    [(ngModel)]="edDeportistaEntrenador.fdiEntrenador.fdiPersona.prsFechaNaciemineto"
                                    required #prsFechaNaciemineto="ngModel" disabled>
                                <div [hidden]="prsFechaNaciemineto.valid || prsFechaNaciemineto.pristine"
                                    class="alert alert-danger">
                                    La Fecha de Nacimiento del Entrenador es Necesaria
                                </div>
                                <br>
                                <label for="telefono"
                                    style="color: rgb(126, 123, 123); font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
                                    <FONT SIZE=3>* Teléfono/Celular</FONT>
                                </label>
                                <input type="tel" class="form-control" name="prsTelefono" id="prsTelefono"
                                    placeholder="Teléfono/Celular"
                                    [(ngModel)]="edDeportistaEntrenador.fdiEntrenador.fdiPersona.prsTelefono" required
                                    pattern="([09]{2}[0-9]{8})" maxlength="10" #prsTelefono="ngModel" disabled>
                                <div [hidden]="prsTelefono.valid || prsTelefono.pristine" class="alert alert-danger">
                                    El Teléfono del Entrenador es Necesario
                                </div>
    
                                <br>
                                <div>
                                    <label for="sexo"
                                        style="color: rgb(126, 123, 123); font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
                                        <FONT SIZE=3>*Sexo</FONT>
                                    </label>
                                    <br>
                                    <label style="align-items: center" class="radio radio-inline no-margin  ">
                                        <input type="radio" name="prsSexo" value="M" class="radiobox style-2"
                                            [(ngModel)]="edDeportistaEntrenador.fdiEntrenador.fdiPersona.prsSexo"
                                            disabled> />
                                        <span>Masculino</span>
    
                                    </label>
    
                                    <label style="align-items: center" class="radio radio-inline no-padding  ">
                                        <input type="radio" name="prsSexo" value="F" class="radiobox style-3 "
                                            [(ngModel)]="edDeportistaEntrenador.fdiEntrenador.fdiPersona.prsSexo"
                                            disabled> />
                                        <span>Femenino</span>
    
                                    </label>
                                </div>
                                <br>
                                <label for="correo"
                                    style="color: rgb(126, 123, 123); font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
                                    <FONT SIZE=3>*Correo Electrónico</FONT>
                                </label>
                                <input type="email" class="form-control" name="prsCorreo" id="prsCorreo" placeholder="Email"
                                    [(ngModel)]="edDeportistaEntrenador.fdiEntrenador.fdiPersona.prsCorreo" required
                                    pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
                                    #prsCorreo="ngModel" disabled>
                                <div [hidden]="prsCorreo.valid || prsCorreo.pristine" class="alert alert-danger">
                                    El Email del Entrenador es Necesario
                                </div>
                                <br>
                                <label
                                    style="color: rgb(126, 123, 123); font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
                                    <FONT SIZE=3>* Estado del Entrenador</FONT>
                                </label>
                                <br>
                                <select required=true class="form-control" id="entreEstado" name="entreEstado"
                                    #entreEstado="ngModel"
                                    [(ngModel)]="edDeportistaEntrenador.fdiEntrenador.entreEstado" disabled>
    
                                    <option disabled value="0" selected="selected">Seleccione....</option>
                                    <option value="true">Activo</option>
                                    <option value="false">Inactivo</option>
                                </select>
                                <div [hidden]="entreEstado.valid || entreEstado.pristine" class="alert alert-danger">
                                    Seleccione el Estado del Entrenador.
                                </div>
                                <br>
    
                                <!--<div align="center">
    
                                <label class="custom-file-upload">
                                    <fieldset class="smart-form">
                                        <div class="form-group">
                                            <section class="padding-form">
                                                <label
                                                    class="col-lg-12 control-label text-left" style="color: rgb(126, 123, 123); font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
                                                    <FONT SIZE=3>* Ruta</FONT></label>
                                                <div class="input input-file col-lg-12">
                                                    <span class="button">
                                                        <input id="file"
                                                            onchange="$(this).parent().next('input.txtFile').val($(this).val())"
                                                            (change)="setArchivo($event)" type="file" multiple>
                                                        <i class="glyphicon glyphicon-camera"></i>
                                                        Cambiar
                                                    </span>
                                                    <input type="text" readonly class="txtFile" />
                                                </div>
    
                                            </section>
    
    
    
                                        </div>
    
                                    </fieldset>
    
                                </label>
    
    
                            </div>-->
                            <legend align="center" style="font-family: 'Times New Roman';color:rgb(0, 92, 128)">
                                    <b> DATOS DEL DEPORTISTA</b>
                                </legend>
                                <br>
                                <label for="prsCedula"
                                style="color: rgb(126, 123, 123) ; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
                                <FONT SIZE=3>* Cedula: </FONT>
                            </label>
                            <br>

                            <input class="form-control" type="text" id="prsCedula" max="15" required=true
                                [(ngModel)]="edDeportistaEntrenador.edDeportista.fdiPersona.prsCedula"
                                name="prsCedula" #prsCedula="ngModel" disabled>
                            <div [hidden]="prsCedula.valid || prsCedula.pristine" class="alert alert-danger">
                                Es Necesario el Número de Cédula
                            </div>

                            <!--<p class="note"><strong >Note: Recuerde {{categoriadisciplina.fdiDisciplina.disciplinaNombre}}</strong></p>-->
                            <br>
                            <label for="prsNombre"
                                style="color: rgb(126, 123, 123) ; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
                                <FONT SIZE=3>* Nombres del Deportista: </FONT>
                            </label>
                            <br>
                            <input class="form-control" type="text" id="prsNombre" required=true
                                [(ngModel)]="edDeportistaEntrenador.edDeportista.fdiPersona.prsNombre"
                                name="prsNombre" #prsNombre="ngModel" disabled>
                            <div [hidden]="prsNombre.valid || prsNombre.pristine" class="alert alert-danger">
                                Los Nombres del Entrenador son Necesarios
                            </div>

                            <!--<p class="note"><strong >Note: Recuerde {{categoriadisciplina.fdiDisciplina.disciplinaNombre}}</strong></p>-->
                            <br>

                            <label for="prsApellido"
                                style="color: rgb(126, 123, 123) ; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
                                <FONT SIZE=3>* Apellidos del Deportista: </FONT>
                            </label>
                            <br>
                            <input class="form-control" type="text" id="prsApellido" required=true
                                [(ngModel)]="edDeportistaEntrenador.edDeportista.fdiPersona.prsApellido"
                                name="prsApellido" #prsApellido="ngModel" disabled>
                            <div [hidden]="prsApellido.valid || prsApellido.pristine" class="alert alert-danger">
                                Los Apellidos del Entrenador son Necesarios
                            </div>
                            <br>
                                <div align="center">
                                    <label class="custom-file-upload">
                                        <img id="entreFoto"
                                            [src]="getUrlDoc1(edDeportistaEntrenador.edDeportista.deportFoto)"
                                            alt="Smiley face" height="150" width="150">
                                        <br>
    
                                        <br>
    
                                        <a [href]="getUrlDoc1(edDeportistaEntrenador.edDeportista.deportFoto)" target="_blank"
                                            class="btn btn-primary btn-sm">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </label>
    
    
                                </div>
                                <br>
                                <label for="prsCedula"
                                    style="color: rgb(126, 123, 123) ; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
                                    <FONT SIZE=3>* Disciplina: </FONT>
                                </label>
                                <br>
    
                                <input class="form-control" type="text" id="disciplinaNombre" required=true
                                    [(ngModel)]="edDeportistaEntrenador.edDeportista.fdiCategoriaDisciplina.fdiDisciplina.disciplinaNombre"
                                    name="disciplinaNombre" #disciplinaNombre="ngModel" disabled>
                                <div [hidden]="disciplinaNombre.valid || disciplinaNombre.pristine"
                                    class="alert alert-danger">
                                    La Disciplina Deportiva es Necesaria
                                </div>
                                <br>
                                <label for="prsCedula"
                                    style="color: rgb(126, 123, 123) ; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
                                    <FONT SIZE=3>* Categoría: </FONT>
                                </label>
                                <br>
    
                                <input class="form-control" type="text" id="categoriaNombre" required=true
                                    [(ngModel)]="edDeportistaEntrenador.edDeportista.fdiCategoriaDisciplina.fdiCategoria.categoriaNombre"
                                    name="categoriaNombre" #categoriaNombre="ngModel" disabled>
                                <div [hidden]="categoriaNombre.valid || categoriaNombre.pristine"
                                    class="alert alert-danger">
                                    La Categoría es Necesaria
                                </div>

                                <br>
                                <label for="fechanac"
                                    style="color: rgb(126, 123, 123); font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
                                    <FONT SIZE=3>*Fecha de Nacimiento</FONT>
                                </label>
                                <input type="date" class="form-control" name="prsFechaNaciemineto" id="prsFechaNaciemineto"
                                    placeholder="Fecha de Nacimiento"
                                    [(ngModel)]="edDeportistaEntrenador.edDeportista.fdiPersona.prsFechaNaciemineto"
                                    required #prsFechaNaciemineto="ngModel" disabled>
                                <div [hidden]="prsFechaNaciemineto.valid || prsFechaNaciemineto.pristine"
                                    class="alert alert-danger">
                                    La Fecha de Nacimiento del Entrenador es Necesaria
                                </div>
                                <br>
                                <label for="telefono"
                                    style="color: rgb(126, 123, 123); font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
                                    <FONT SIZE=3>* Teléfono/Celular</FONT>
                                </label>
                                <input type="tel" class="form-control" name="prsTelefono" id="prsTelefono"
                                    placeholder="Teléfono/Celular"
                                    [(ngModel)]="edDeportistaEntrenador.edDeportista.fdiPersona.prsTelefono" required
                                    pattern="([09]{2}[0-9]{8})" maxlength="10" #prsTelefono="ngModel" disabled>
                                <div [hidden]="prsTelefono.valid || prsTelefono.pristine" class="alert alert-danger">
                                    El Teléfono del Entrenador es Necesario
                                </div>
    
                                <br>
                                <div>
                                    <label for="sexo"
                                        style="color: rgb(126, 123, 123); font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
                                        <FONT SIZE=3>*Sexo</FONT>
                                    </label>
                                    <br>
                                    <label style="align-items: center" class="radio radio-inline no-margin  ">
                                        <input type="radio" name="sexo" value="M" class="radiobox style-2"
                                            [(ngModel)]="edDeportistaEntrenador.edDeportista.fdiPersona.prsSexo"
                                            disabled> />
                                        <span>Masculino</span>
    
                                    </label>
    
                                    <label style="align-items: center" class="radio radio-inline no-padding  ">
                                        <input type="radio" name="sexo" value="F" class="radiobox style-3 "
                                            [(ngModel)]="edDeportistaEntrenador.edDeportista.fdiPersona.prsSexo"
                                            disabled> />
                                        <span>Femenino</span>
    
                                    </label>
                                </div>
                                <br>
                                <label for="correo"
                                    style="color: rgb(126, 123, 123); font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
                                    <FONT SIZE=3>*Correo Electrónico</FONT>
                                </label>
                                <input type="email" class="form-control" name="prsCorreo" id="prsCorreo" placeholder="Email"
                                    [(ngModel)]="edDeportistaEntrenador.edDeportista.fdiPersona.prsCorreo" required
                                    pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
                                    #prsCorreo="ngModel" disabled>
                                <div [hidden]="prsCorreo.valid || prsCorreo.pristine" class="alert alert-danger">
                                    El Email del Entrenador es Necesario
                                </div>
                                <br>
                                <label
                                    style="color: rgb(126, 123, 123); font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
                                    <FONT SIZE=3>* Estado del Entrenador</FONT>
                                </label>
                                <br>
                                <select required=true class="form-control" id="deportEstado" name="deportEstado"
                                    #deportEstado="ngModel"
                                    [(ngModel)]="edDeportistaEntrenador.edDeportista.deportEstado" disabled>
    
                                    <option disabled value="0" selected="selected">Seleccione....</option>
                                    <option value="true">Activo</option>
                                    <option value="false">Inactivo</option>
                                </select>
                                <div [hidden]="deportEstado.valid || deportEstado.pristine" class="alert alert-danger">
                                    Seleccione el Estado del Entrenador.
                                </div>
                                
                            </div>
    
                                <br>
    
                                <br>
                                <div class="row" id="datosImpresion" align="center">
    
                                    <div id="print-section">
    
                                        <div>
    
                                            <div>
    
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                                <script type="text/javascript">
                                    $("#hoolaa").click(function () {
                                        $("div#datosImpresion").printArea();
                                    })
                                </script>
    
                                <div class="modal-footer">
                                    <button class="btn btn-labeled btn-primary" (click)="print()">
                                        <span class="btn-label">
                                            <i class="fa fa-print" aria-hidden="true"></i></span>
                                        Imprimir</button>
                                    <button (click)="atras(edDeportista)" class="btn btn-labeled btn-danger"><span
                                            class="btn-label"><i class="glyphicon glyphicon-remove"></i>
                                        </span>Cancelar</button>
    
                                </div>
    
                            </div>
    
    
    
    
    
    
                        </div>
    
                        <br>
    
                    </div>
                
            
    
    
    
    
            </article>
    
    </div>
    </sa-widgets-grid>
    </div>