<div id="content">
    <sa-widgets-grid>
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-ms-12 col-md-12 colg-lg-12">
                <div sa-widget [editbutton]="false" [deletebutton]="false" [fullscreenbutton]="true" color="white">

                    <header>
                        <span class="widget-icon">
                            <i class="fa fa-table"></i>
                        </span>

                        <h2>Registro de los Deportistas Aspirantes</h2>
                    </header>
                    <div class="row" class="cold-md 1" align="right">
                        <div align="right" class="widget-body no-padding col-sm-12 col-ms-12 col-md-12 colg-lg-12">
                            <div>
                                <a class="btn btn-primary btn xs" (click)="atras(persona)" placement="top" toolyip="Regresar">
                                    <i class="fa fa-reply"></i>
                                    Volver

                                </a>



                                <legend align="center" style="font-family: 'Times New Roman';color:rgb(0, 92, 128)">
                                    <b> DATOS DE LA DE LOS DEPORTISTAS ASPIRANTES</b>
                                </legend>
                                <div align="left">
                                    <br>
                                    <div>

                                        <label for="cedula" style="color: rgb(126, 123, 123) ; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
                                            <FONT SIZE=3>Busque por Cedula</FONT>
                                        </label>
                                        <select class="form-control" [(ngModel)]="deportista.fdiPersona" name="persona" [compareWith]="compare">
                                        <option>Seleccione....</option>
                                        <option *ngFor="let persona of personas;" [ngValue]="persona">{{persona.prsCedula}}</option>
                                    </select>
                                    <!--<p class="note"><strong >Note: Recuerde {{categoriadisciplina.fdiDisciplina.disciplinaNombre}}</strong></p>-->
                                        <br>
                                            <label for="cedula" style="color: rgb(126, 123, 123) ; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
                                                <FONT SIZE=3>* Categoria con su respectiva Disciplina</FONT>
                                            </label>

                                            <select class="form-control" [(ngModel)]="deportista.fdiCategoriaDisciplina" name="categoriadisciplina" [compareWith]="compare">
                                                <option>Seleccione....</option>
                                                <option *ngFor="let categoriadisciplina of categoriadisciplinas;" [ngValue]="categoriadisciplina">{{categoriadisciplina.catdisciId}}</option>
                                            </select>

                                    </div>
                                    <br>
                                    <label for="adjunto" style="color: rgb(126, 123, 123); font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
                                        <FONT SIZE=3>*Foto Deportista</FONT>
                                    </label>
                                    <br>
                                    <label class="custom-file-upload">
                                       <!--  <img [src]="getUrlDoc1()" alt="Smiley face" height="42" width="42">
                                        <a
                                        [href]="getUrlDoc1()" target="_blank" class="btn btn-primary">
                                            <i class="fa fa-file-text-o"></i>
                                        </a> -->
                                  
                                    <fieldset class="smart-form">
                                      <div class="form-group">
                                        <section class="padding-form">
                                            <label class="col-lg-4 control-label text-left">Documento</label>
                                            <div class="input input-file col-lg-8" >
                                            <span class="button">
                                                <input id="file" onchange="$(this).parent().next('input.txtFile').val($(this).val())"
                                                (change)="setArchivo($event)" type="file">
                                                Cargar
                                            </span>
                                            <input type="text" readonly class="txtFile"/>
                                            </div>
                                        </section>
                                      </div>
                                    </fieldset>
                                    
                                    </label>
                                    <br>    
                                    <label for="apellido" style="color: rgb(126, 123, 123); font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
                                        <FONT SIZE=3>*Cedula Deportista</FONT>
                                    </label>
                                    <br>
                                   <label class="custom-file-upload">
                                        <input type="file"name="cedula" id="cedula" [(ngModel)]="deportista.deportFotocedula" accept=".pdf,.jpg,.png" multiple/>
                                        <i class="fa fa-cloud-upload"></i> Seleccione Foto de la Cédula
                                    </label>
                                    <br>
                                    <label for="fechanac" style="color: rgb(126, 123, 123); font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
                                        <FONT SIZE=3>*Tipo Deportista</FONT>
                                    </label>
                                    <select class="form-control" name="tipodeport" [(ngModel)]="deportista.deportTipodeportista">
                                        <option [value]=null>Seleccione...</option>
                                        <option value="A">Aspirante</option>
                                    </select>
                                    <br>
                                    <label style="color: rgb(126, 123, 123); font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
                                        <FONT SIZE=3>* Estado del Aspirante</FONT>
                                    </label>
                                    <br>
                                    <select required class="form-control" name="estado" [(ngModel)]="deportista.deportEstado">

                                        <option [value]=null>Seleccione..</option>
                                        <option value="true">Activo</option>
                                        <option value="false">Inactivo</option>


                                    </select>

                                    
                                    <br>
                                    <button onclick="return confirm('Esta seguro realizar los cambios?')" (click)="guardar()" class="btn btn-primary btn xs">
                                        <i class="fa fa-floppy-o"></i>
                                        Guardar</button>
                                    <button (click)="cancelar()" class="btn btn-labeled btn-danger" type="reset">
                                        <span class="btn-label">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </span>Cancelar</button>


                                </div>

                                <br>

                            </div>


                        </div>
                    </div>
                </div>



            </article>

        </div>




    </sa-widgets-grid>
</div>